<div class="container ">
  <div class="row">
    <div class="col-md-12 mt-5">

      <form [formGroup]="editorialForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-5 mt-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Title </span>
              </div>
              <input type="text" class="form-control" formControlName="title">
            </div>
          </div>

          <div class="col-sm-4 mt-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Company </span>
              </div>
              <input type="text" class="form-control" formControlName="company">
            </div>
          </div>

          <div class="col-sm-3 mt-3">
            <div class="input-group   mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Date </span>
              </div>
              <input type="date" class="form-control" formControlName="date">
            </div>
          </div>

        </div>

        <div class="mt-3">
          <quill-editor [styles]="{'height': '512px'}" [modules]="options" formControlName="content"> </quill-editor>
        </div>

        <div class="row">
            <div class="taggedProblems" *ngIf= "problems_selected.length>0">
                          <div class="" *ngFor="let item of problems_selected; let i = index">
                              <button (click)="removeTag(i)" *ngIf="item.selected=='yes' "class="warning tagged"> {{item.problem_name}}
                              <span aria-hidden="true" class="close-icon">&times;</span>
                              </button>
                              <!-- <button (click)="toggleBox(i)">Click Me!</button> -->
                        </div>
            </div>
        </div>

                      <form class="mt-2" [formGroup]="problemsForm" >
                <div class="row">
                    <div class="col-9 mt-3 mx-3">
                      <label class="sr-only" for="inlineFormInputGroup">Enter Problem Name</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Tag Problems</div>
                        </div>
                        <input type="text" class="form-control" (keyup)="problemNameSearched.next($event)" id="inlineFormInputGroup" placeholder="Enter Problem Name">
                      </div>
                    </div>
                  </div>

                  <div class="problem-container">
                    <div class="" *ngFor="let item of arrayList; let i = index">
                          <button (click)="addProblem(i)" *ngIf="item.selected!='yes' "class="info"> {{item.problem_name}}</button>
                          <button (click)="removeProblem(i)" *ngIf="item.selected=='yes' "class="danger"> {{item.problem_name}}</button>
                          <!-- <button (click)="toggleBox(i)">Click Me!</button> -->
                    </div>

                  </div>

              </form>

        <!-- [disabled]="!editorialForm.valid" -->
        <button class="btn btn-outline-success float-right" style="padding-left: 30px;padding-right:30px" >Save </button>
      </form>

    </div>
  </div>

</div>
